.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 80vh;
    position: relative;
    
}

.mainbg {
    background-size: cover;
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
}

.infotxt {
    width: 600px;
}